<!DOCTYPE html>
<!--Comment-->
<html>  
    <head>
        <style>
            h1{
                color: green;
                text-align: center;  
            }
            h2.renkli{
                color: blueviolet;
            }
            body{
                background-color: #4a4a48;
            }
            .yan-yana{
                display:flex;
            }
            .yan-yana a{
                margin-right: 800px;
            }
        </style>
    </head>
    <body>
        <h1>Bu bir başlık</h1>
        
        <p>Bu bir paragraf. ilk defa <strong>web proglamlama</strong> yapıyorum. <em>html</em> örneği</p>
        <p>m <sup>2</sup></p>


        <h2 class="renkli">Link örneği</h2>
        <a href="https://x.com/Fenerbahce?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Bu bir link</a>
        <a href="https://x.com/Fenerbahce?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Bu bir link ama sayfa başka bir sekmde açılıyor</a>


        

        <div class="yan-yana">
            <h2>Resimli Link</h2>
        <a href="https://www.fenerbahce.org" target="_blank">
            <img src="https://tmssl.akamaized.net/images/wappen/head/36.png?lm=1406739123" title="FENERBAHÇE SK" alt="resim">
        </a>


            <h2>Sırasız Liste Örneği</h2>
            <ul>
                <li>Liste Örneği 1</li>
                <li>Liste Örneği 2</li>
                <li>Liste Örneği 3</li>
            </ul>
    
            <h2>Sıralı Liste Örneği</h2>
            <ol>
                <li>Liste Örneği 1</li>
                <li>Liste Örneği 2</li>
                <li>Liste Örneği 3</li>
            </ol>
        </div>


       
    </body>
</html>